@font-face {
    font-family: 'Monogram';
    src: url("../fonts/monogram.ttf");
}

.root {


    -fx-font-family: "Monogram";
    outline-first: "#303838";
    outline-second: "#788880";
    outline-third: "#a8b0a0";
    outline-fourth: "#e0e0a8";
    background-primary: "#485860";
    primary-text: "#e0e0a8";

}
.primary-outline {
    -fx-border-color: outline-first;
    -fx-border-width: 4px;
    -fx-fill-height: true;
}
.textMax {
    -fx-font-size: 48px;
}
.textPrimary {
    -fx-fill: primary-text;
}
.appbar{
    -fx-padding: 15px;
    -fx-alignment: center;
    -fx-background-color: background-primary;
}
