@font-face {
    font-family: 'Monogram';
    src: url("../fonts/monogram.ttf");
}

.root {
    font-family: "Monogram";
    -fx-font-family: "Monogram";
    -outline-first: "#303838";
    -outline-second: "#788880";
    -outline-third: "#a8b0a0";
    -background-primary: "#e0e0a8";
    -background-secondary: "#e8e0c0";
    -background-appbar: "#485860";
    -primary-text: "#e0e0a8";

    -background-MailList: "#f8f0c8";
}

.root {
    -shadow-newBox: #a8b0a0;
    -background-newBox-primary: #f08800;

}

/* .newBox {
    -fx-background-color: -background-newBox-primary;
    -fx-padding: 0px 5px;
    -fx-effect: dropshadow(one-pass-box, -shadow-newBox, 0, 0, 3, 3);
} */



.mailListView {
    -fx-background-color: -background-MailList;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;

}

.mailListView:unfocused {
    -fx-background-insets: 0;
    -fx-faint-focus-color: transparent;
}

.mailListView .list-cell {
    -fx-padding: 0px 36px 0px 0px;
    -fx-background-color: transparent;
    -fx-font-size: 32px;
}

.mailListView .list-cell:odd BorderPane {
    -fx-background-color: transparent;
}


.mailListView .list-cell:even BorderPane {
    -fx-background-color: -background-secondary;
}



.outline-first {
    -fx-border-color: -outline-first;
}

.outline-second {
    -fx-border-color: -outline-second;
}

.outline-third {
    -fx-border-color: -outline-third;
}

.border-outline {
    -fx-border-width: 4px;
    -fx-fill-height: true;
}

.textMax {
    -fx-font-size: 48px;
}

.textPrimary {
    -fx-fill: -primary-text;
}

.appbar {
    -fx-padding: 15px;
    -fx-alignment: center;
    -fx-background-color: -background-appbar;
}